<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Simple Twitter Client made for apprenticeship">
    <meta name="keywords" content="Twitter, Client, Twitter API, auth, Oauth">
    <meta name="author" content="Tomasz Chruściński">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Simple Twitter Client</title>
  </head>
  <body>
    <nav>
        <a href="/main"><i class="fab fa-twitter"></i></a>
    </nav>
