<% include ./partials/header.ejs %>

<div class="form-container">
  <h1>New Tweet</h1>
  <form action="/main" method="POST">
      <div class="field">
          <label>Tweet Content</label>
          <textarea name="tweet[body]"></textarea>
      </div>
      <input class="tweet-submit" type="submit" value="Tweet +">
  </form>
</div>


<% include ./partials/footer.ejs %>
