.form-container {
  width: 50%;
  height: 50%;
  background-color: #fff;
  margin: 10% auto 0;
  box-sizing: border-box;
  border-radius: 25px;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  -moz-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  -ms-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  -o-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
}
.form-container .field {
  margin: 10% auto 0;
}
.form-container .field label {
  font-size: 2em;
  font-weight: bold;
}

html {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  background-color: #e6ecf0;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav {
  background-color: #1da1f2;
  width: 100%;
  height: 8vh;
  text-align: center;
  line-height: 8vh;
  -webkit-box-shadow: 0px 0px 1px 2px rgba(122,113,122,0.75);
  -moz-box-shadow: 0px 0px 1px 2px rgba(122,113,122,0.75);
  -ms-box-shadow: 0px 0px 1px 2px rgba(122,113,122,0.75);
  -o-box-shadow: 0px 0px 1px 2px rgba(122,113,122,0.75);
  box-shadow: 0px 0px 1px 2px rgba(122,113,122,0.75);
  position: relative;
  z-index: 1;
}
nav i {
  margin: 0 auto 0;
  color: #fff;
  font-size: 1.5em;
}

main {
  display: flex;
  height: 92vh;
  width: 100%;
}
main .profile {
  background-color: #fff;
  order: 1;
  width: 30%;
  height: 100%;
  padding: 5% 0 0 5%;
  box-sizing: border-box;
  -webkit-box-shadow: 5px 0px 14px -5px rgba(122,113,122,0.75);
  -moz-box-shadow: 5px 0px 14px -5px rgba(122,113,122,0.75);
  -ms-box-shadow: 5px 0px 14px -5px rgba(122,113,122,0.75);
  -o-box-shadow: 5px 0px 14px -5px rgba(122,113,122,0.75);
  box-shadow: 5px 0px 14px -5px rgba(122,113,122,0.75);
}
main .profile img {
  margin: 0 auto 0;
  width: 60%;
  border-radius: 150px;
  border: 4px solid #1da1f2;
}
main .profile h1 {
  padding: 0;
  margin: 5% 0 0;
}
main .profile h4 {
  color: #657786;
  font-weight: normal;
  margin: 1% 0 0;
}
main .profile #friends-button, main .profile #followers-button, main .profile #tweet-button {
  border: 1px solid #1da1f2;
  color: #1da1f2;
  border-radius: 10px;
  padding: 4px 12px;
  font-weight: bold;
  background-color: #fff;
  margin: 3% 0;
  display: block;
}
main .profile #friends-button:hover, main .profile #followers-button:hover, main .profile #tweet-button:hover {
  background-color: #e6f9ff;
}
main .posts {
  order: 2;
  width: 70%;
}
main .posts .tweet:nth-of-type(1) {
  margin-top: 3%;
}
main .posts .tweet {
  background-color: #fff;
  border-radius: 20px;
  width: 80%;
  min-height: 25%;
  margin: 0 auto 2%;
  padding: 0;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  -moz-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  -ms-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  -o-box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  box-shadow: 2px 3px 3px 0px rgba(122,113,122,0.75);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: translateZ(0);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
main .posts .tweet h2 {
  order: 2;
  margin: 2% 1% 0;
}
main .posts .tweet h4 {
  color: #657786;
  font-weight: normal;
  order: 3;
  margin: 2.5% 1% 0 0;
}
main .posts .tweet img {
  border-radius: 50px;
  margin: 2% 3% 0 5%;
  order: 1;
  width: 48px;
  height: 48px;
}
main .posts .tweet p {
  margin: 0 0 5% 20%;
  order: 10;
  color: #1da1f2;
  font-size: 2em;
}
main .posts .tweet:hover {
  -webkit-transform: translate(-1%,0);
  -moz-transform: translate(-1%,0);
  -ms-transform: translate(-1%,0);
  -o-transform: translate(-1%,0);
  transform: translate(-1%,0);
  -webkit-font-smoothing: subpixel-antialiased;
}

/*# sourceMappingURL=public/css/main.css.map */
